/* General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
}

/* Navbar Styles */

.container {
    margin: 0 auto;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}
#navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-block: 15px;
    position: sticky;
    left: 0;
    gap: 15px;
    color: #000;
}
#navbar a {
    text-decoration: none;
    color: #000000;
    background-color: #b4b1b1;
    border-radius: 20px;
}
.logo {
    /* margin-right: 50px; */
    font-size: 1rem;
}
.list {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
#toggler,
#navbar label {
    display: none;
}

#navbar header {
    background: #28B463;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #000000;
    font-weight: 520;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    color: white;
    transition: 1.0s ease;
    background: #28B463;
    text-decoration: underline;
}

/* Main Content Styles */
#main-doc {
    width: 80%;
    padding: 20px;
}

#main-doc header {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    color: #3498DB;
    text-align: left;
    margin: 0px;
}

.main-section {
    margin-bottom: 20px;
}

.main-section header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.code {
    padding: 10px;
    font-family: monospace;
    background-color: #000;
    color: #28B463;
    border-radius: 0 0 100px 20px;
}

@media only screen and (max-width: 815px) {
    /* For mobile phones: */

    body {
        display: flex;
        flex-direction: row;
    }

    #navbar ul {
        height: 207px;
    }
    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        z-index: 1;
    }
    #main-doc {
        position: absolute;
        margin: 350px 0;
        text-align: center;
        width: 100%;
    }

    #main-doc header {
        text-align: center;
    }

    .code {
        text-align: left;
    }
}